.wrapper {
  position: relative;
  z-index: 5;
  min-height: 600px;
  height: calc(100vh - 100px);
  display: flex;
  overflow: hidden;
  background: rgb(250, 250, 250);
}

@media (max-width: 768px) {
  .wrapper {
    background: linear-gradient(rgb(25, 28, 34), rgb(8, 8, 11) 3%);
  }
}

.post-hero {
  position: absolute;
  height: 100%;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-size: 48px;
  font-family: var(--serif);
  color: black;
}

@media (max-width: 768px) {
  .post-hero {
    min-height: 100vh;
    background: rgb(250, 250, 250);
  }
}

.post-hero-section {
  position: static;
  width: 100%;
  max-width: 1220px;
  margin: 0px auto;
  padding: 0px 2.5rem;
  display: block;
}

@media (max-width: 1024px) {
  .post-hero-section {
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .post-hero-section {
    display: block;
    padding: 0px 2.5rem;
  }
}

@media (max-width: 540px) {
  .post-hero-section {
    max-width: 100%;
  }
}

.post-header {
  max-width: 680px;
}

@media (max-width: 768px) {
  .post-header {
    max-width: 480px;
  }
}

.post-author {
  font-size: 1.25rem;
  color: var(--grey);
}

.post-time {
  max-width: 1220px;
  padding: 0px 2rem;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0px auto;
  left: 0px;
  right: 0px;
}

@media (max-width: 1024px) {
  .post-time {
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 540px) {
  .post-time {
    max-width: 100%;
  }
}

.post-progress-icon {
  position: relative;
  width: 1px;
  height: 90px;
  overflow: hidden;
  z-index: 10;
}

.post-progress-position {
  position: relative;
  width: 1px;
  height: 90px;
  transform-origin: center bottom;
  background: rgba(0, 0, 0, 0.3);
}

.post-progress-position2 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 0px;
  transform: translateY(0px);
  transform-origin: center bottom;
  background: rgb(0, 0, 0);
}

.post-time-to-read {
  top: 6px;
  left: 51px;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
}
img {
  vertical-align: middle;
}

.article-hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -40%;
  overflow: visible;
}

.article-hero-image > div {
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
  height: 100%;
}

.article-hero-image > div img {
  object-position: left center !important;
}

@media (max-width: 768px) {
  .article-hero-image {
    display: none;
  }
}
