<section class="section">
  <div class="heading-container" style="max-width: 652px;">
    <h1 class="hero-heading">
        <b>Olá, me chamo Patrick</b>. Sou um desenvolvedor de software com <b>foco em JavaScript</b> e tecnologias web.
    </h1>
  </div>
  <div class="subheading-container">
    <dev-bio></dev-bio>

    <div class="grid-controls-container">
      <button class="grid-button" (click)="makeGrid()">
        <dev-tiles></dev-tiles>
      </button>
      <button class="grid-button" (click)="makeRows()">
        <dev-rows></dev-rows>
      </button>
    </div>
  </div>
</section>
