<section class="section">
  <div class="heading-container">
    <h1 class="hero-heading">
      Olá, sou Patrick Lima.
    </h1>

    <p class="bio-text" style="margin-top: 32px;">
      Sou desenvolvedor de software e atualmente trabalho como analista na
      <a href="https://www.corbion.com/" target="_blank" rel="noopener">Corbion</a>. Eu principalmente desenvolvo front-end e sou um fã de Angular e CSS. Tento
      compartilhar tudo que aprendo aqui. Também sou aspirante a cientista de dados e interessado na área.
    </p>
  </div>
  <div class="subheading-container">
    <dev-bio></dev-bio>

    <div class="grid-controls-container">
      <button class="grid-button" (click)="onClickGrid()">
        <dev-tiles></dev-tiles>
      </button>
      <button class="grid-button" (click)="onClickRows()">
        <dev-rows></dev-rows>
      </button>
    </div>
  </div>
</section>
