<section id="articleHero" class="section narrow">
  <div class="article-hero">
    <header class="article-header">
      <h1 class="article-hero-heading">Title</h1>
      <div class="article-hero-subtitle">
        <div class="article-meta">
          <!-- TODO: component author -->
          <a href="" class="article-author-link">
            <div class="article-author-avatar">
              <img src="" />
            </div>

            <strong>Patrick Lima</strong>

            <span class="hide-on-mobile">,&nbsp;</span>
          </a>

          January 2, 2006 • 8 min read
        </div>
      </div>
    </header>

    <div class="article-hero-image" id="ArticleImage__Hero">
      <img src="" />
    </div>
  </div>
</section>

<aside id="progressBar" class="aside-container">
  <div class="aside-align">
    <div>
      <div class="overlap-container"></div>
    </div>
  </div>

  <div class="progress-container" tabIndex="{-1}">
    <div class="track-line" aria-hidden="true">
      <div id="progressIndicator" class="progress-line"></div>
    </div>
  </div>
</aside>

<article id="articleContent" class="post-content">
  <!-- This is where Scully will inject the static HTML -->
  <scully-content></scully-content>
</article>
