<section class="section nartrow">
  <div id="articlesList" class="articles-list-container show-details">
    <div class="post-row">
      <a href="" class="article-link" id="article-link-bigger">
        <div class="article-data-outer">
          <div class="image-container">
            <img src="" class="article-image" />
          </div>

          <div class="article-data">
            <h2 class="article-title">
              Article Title
            </h2>
            <p class="article-excerpt">
              Artitle Excerpt
            </p>
            <div class="article-metadata">
              January 2, 2006 • 2 min read
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <app-paginator></app-paginator>
</section>
