<section class="section nartrow">
  <div id="articlesList" class="articles-list-container show-details" *ngFor="let article of articles">
    <div class="post-row">
      <a href="article.hero.full.base64" class="article-link" id="article-link-bigger">
        <div class="article-data-outer">
          <div class="image-container">
            <img src="" class="article-image" />
          </div>

          <div class="article-data">
            <h2 class="article-title">
              {{ article.title }}
            </h2>
            <p class="article-excerpt">
              {{ article.excerpt }}
            </p>
            <div class="article-metadata">{{ article.date }} • {{ article.timeToRead }}</div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <app-paginator></app-paginator>
</section>
