/**************************************ARTICLE HEAD**************************************/

.article-hero {
  @media screen and (max-width: $phablet) {
    &::before {
      content: '';
      width: 100%;
      height: 20px;
      background: var(--primary);
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: var(--color-mode-transition);
      -o-transition: var(--color-mode-transition);
      transition: var(--color-mode-transition);
    }

    &::after {
      content: '';
      width: 100%;
      height: 10px;
      background: var(--background-color);
      position: absolute;
      left: 0;
      top: 10px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      -webkit-transition: var(--color-mode-transition);
      -o-transition: var(--color-mode-transition);
      transition: var(--color-mode-transition);
    }
  }
}

.article-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /*PHABLET*/
  @media screen and (max-width: $phablet) {
    margin-left: 0;
    flex-direction: column;
  }
}

.article-header {
  position: relative;
  z-index: 10;
  margin: 6.25rem auto 120px;
  padding-left: 68px;
  max-width: 749px;

  @media screen and (max-width: $desktop) {
    padding-left: 53px;
    max-width: calc(507px + 53px);
    margin: 6.25rem auto 70px;
  }

  @media screen and (max-width: $tablet) {
    padding-left: 0;
    margin: 6.25rem auto 70px;
    max-width: 480px;
  }

  @media screen and (max-width: $phablet) {
    margin: 170px auto 180px;
    padding: 0 40px;
  }

  @media screen and (max-height: 700px) {
    margin: 6.25rem auto;
  }
}

.article-hero-heading {
  font-size: 48px;
  font-family: var(--serif);
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.32;

  @media screen and (max-width: $tablet) {
    margin-bottom: 20px;
    font-size: 36px;
  }

  @media screen and (max-width: $phablet) {
    font-size: 32px;
  }
}

.article-hero-subtitle {
  padding: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: var(--grey);

  /*PHABLET*/
  @media screen and (max-width: $phablet) {
    border: 1px solid var(--horizontalRule);
    border-radius: 5px;
  }

  @media screen and(max-width: $phablet) {
    font-size: 0.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &.has-coauthors::before {
      content: '';
      position: absolute;
      left: -20px;
      right: -20px;
      top: -10px;
      bottom: -10px;
      border: 1px solid var(--horizontalRule);
      opacity: 0.5;
      border-radius: 5px;
    }

    strong {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}

.article-author-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }

  strong {
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
  }

  &:hover strong {
    color: var(--primary);
  }
}

.article-author-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 0.875rem;
  background: var(--grey);
  overflow: hidden;

  img {
    width: 100%;
  }

  .gatsby-image-wrapper > div {
    padding-bottom: 100% !important;
  }

  /*PHABLET*/
  @media screen and (max-width: $phablet) {
    display: none;
  }
}

.hide-on-mobile {
  /*PHABLET*/
  @media screen and (max-width: $phablet) {
    display: none;
  }
}

/**************************************ARTICLE BODY**************************************/

.post-wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.post-wrapper > * {
  grid-column: 2;
}

.full-bleed,
.post-wrapper > img {
  width: 100%;
  grid-column: 1 / 4;
}

/**************************************ARTICLE NEXT**************************************/

.footer-next-heading {
  display: block;
  font-size: 1.6rem;
  position: relative;
  opacity: 0.25;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6.25rem;
  min-width: 100%;
  font-weight: 400;
  color: var(--primary);

  /*TABLET*/
  @media screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }

  &::after {
    content: '';
    position: absolute;
    background: var(--grey);
    width: 62%;
    max-width: 100%;
    height: 1px;
    right: 0;
    top: 50%;

    /*TABLET*/
    @media screen and (max-width: $tablet) {
      width: 41.7%;
    }

    /*PHABLET*/
    @media screen and (max-width: $phablet) {
      width: 27.8%;
    }

    /*PHONE*/
    @media screen and (max-width: $phone) {
      width: 90px;
    }
  }
}

.footer-spacer {
  margin-bottom: 65px;
}
